body
{
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #140c30
}
header
{
  background: linear-gradient(to right,#140c30,#168777, #140c30);
   color: #F5F5F5;
   
   padding: 1px; 
}
nav{
   display: flex;
   gap: 10px; /* kutular arası boşluk */
   background-color: #140c30;
   padding: 10px;
    transition: all 0.3s;
}
nav a{
   background-color: #168777;
     color: #F5F5F5;
     padding: 5px 10px;
     text-decoration: none;
     border-radius: 8px;
     transition: background-color 0.3s;
    

}
nav a:hover
{
   background-color: #153d4c;
}
.c{
   background: #153d4c;
     border-radius: 12px;
     overflow: hidden;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     transition: transform 0.2s ease;
}

main
{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 20px;
     padding: 40px;
     max-width: 1200px;
     margin: auto;
   }

.c img {
     width: 100%;
     height: auto;
     object-fit: cover;
     transition: transform 0.3s ease;
     
   }

.c:hover img {
     transform: scale(1.05); /* Resim büyür */
   }
.c p {
     padding: 15px;
     text-align: center;
     font-size: 16px;
     color: #F5F5F5;
   }