body
{
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: #140c30
}
header
{
  background: linear-gradient(to right,#140c30,#168777, #140c30);
   color: #F5F5F5;
   
   padding: 1px; 
}
nav{
   display: flex;
   gap: 10px; /* kutular arası boşluk */
   background-color: #140c30;
   padding: 10px;
   justify-content: center;
    transition: all 0.3s;
}
nav a{
   background-color: #168777;
     color: #F5F5F5;
     padding: 5px 10px;
     text-decoration: none;
     border-radius: 8px;
     
     
     transition: background-color 0.3s;
    

}
nav a:hover
{
   background-color: #153d4c;
}
.c{
   background: #153d4c;
     border-radius: 12px;
     overflow: hidden;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     transition: transform 0.2s ease;
}

main
{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 20px;
     padding: 40px;
     max-width: 1200px;
     margin: auto;
   }

.c img {
     width: 100%;
     height: auto;
     object-fit: cover;
     transition: transform 0.3s ease;
     
   }

.c:hover img {
     transform: scale(1.05); /* Resim büyür */
   }
.c p {
     padding: 15px;
     text-align: center;
     font-size: 16px;
     color: #F5F5F5;
   }
nav button{
      background-color: #168777;
     color: #F5F5F5;
     padding: 5px 10px;
     text-decoration: none;
     border-radius: 8px;
     cursor: pointer;
      transition: 0.3s;
      border: none;
      transition: background-color 0.3s;
}
nav button:hover
{
   background-color: #153d4c;
}
.login-box {
      position: relative;
      width: 320px;
      padding: 40px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(25px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      text-align: center;
    }

    .login-box h2 {
      color: white;
      text-align: left;
      margin-bottom: 20px;
    }

    .login-box input {
      width: 100%;
      padding: 10px 15px;
      margin: 10px 0;
      border: none;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.3);
      color: white;
      outline: none;
    }

    .login-box input::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 24px;
      color: white;
      cursor: pointer;
    }
 /* POPUP ARKAPLAN */
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .box{
      position:relative;
      width: 80%;
      padding: 20px;
      margin-left: 10%;
      border-radius: 10px;
      
      
      background-color: #210207;
    }
    .box h2{
      color: #F5F5F5;
      text-align: center;
      padding-bottom: 50px;
    }
    .box p{
      color: #F5F5F5;
      font-size: 18px;
      line-height: 1;
      
    }
    .box iframe{
      display: block;
      padding: 50px;
      width: 80%;
      height: 650px;
      margin: auto;
      border-radius: 10px;
    }

    .box img{
      display: flex;
      width: 300px;
      height: 450px;
      border-radius: 10px;
      
    }
    .film_top{
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
    }