
 body
 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1C1F2A
}
header
{
    background-color:#121212 ;
    color: #F5F5F5;
    padding: 1px; 
}