body{
    background-color: orange;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
button{
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
}
img{
    width: 150px;
    height: 150px;
}